.container {
  display: flex;
  justify-content: center;
}

.inner {
  max-width: 700px;
}

.title {
  font-size: 56px;
  line-height: 1.1;
  font-weight: 600;
}

.subtitle {
  margin-top: var(--space-4);
  margin-bottom: var(--space-9);
  max-width: 600px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--text-secondary);
}

.meta {
  margin-top: var(--space-5);
  display: flex;
  gap: var(--space-5);
  font-size: 14px;
  color: var(--text-secondary);
}
