.container {
  display: flex;
  justify-content: center;
}

.inner {
  display: grid;
  grid-template-columns: minmax(0, 700px) auto;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: var(--space-6);
}

.actions {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  align-self: center;
}

.title {
  grid-column: 1;
  font-size: 56px;
  line-height: 1.1;
  font-weight: 600;
}

.subtitle {
  grid-column: 1;
  margin-top: var(--space-4);
  margin-bottom: var(--space-9);
  max-width: 600px;
  font-size: 18px;
  line-height: 1.6;
  color: var(--color-text-secondary);
}

@media (max-width: 900px) {
  .inner {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: var(--space-4);
  }

  .subtitle {
    margin-bottom: var(--space-5);
  }
}

.meta {
  margin-top: var(--space-5);
  display: flex;
  gap: var(--space-5);
  font-size: 14px;
  color: var(--color-text-secondary);
}

